nav#globalnav {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 50px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
  .followBar {
    opacity: 0;
    position: absolute;
    top: 100%;
    height: 4px;
    width: 120px;
    background-color: @oran-const;
    .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
  }
  .buttonContainer {
    position: absolute;
    height: 100%;
    height: inherit;
    margin: 0;
    display: none;
    right: 0;
    a {
      position: relative;
      width: 100px;
      height: inherit;
      float: left;
      color: @light-shade;
      cursor: pointer;
      margin: 0 10px 0 10px;
      h6 {
        width: inherit;
        border-top: 1px solid @light-shade;
        margin: 0;
        padding: 5px;
        letter-spacing: normal;
        font-weight: 800;
        font-size: 1em;
        .centerY;
      }
      i {
        font-size: 1.8em;
        .centerXY
      }
    }
    a.ext {
      width: 35px;
    }
  }
  .externalSites {
    height: 100%;
    float: left;
  }
  .divider {
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    border-left: 4px solid @oran-const;
    margin: 0 15px 0 15px;
    .transition(0.5s, ease)
  }
}

.navtoggle {
  position: fixed;
  z-index: 6;
  font-size: 2.5em;
  left: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  .transition.vfast;
  &:hover {

  }
  i {
    position: absolute;
    opacity: 1;
    left: 0px;
    color: @light-shade;
    .transition.vfast;
  }
  i.back {
    left: 50px;
  }
  .disable {
    pointer-events: none;
    opacity: 0;
  }
}