nav#globalnav {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 80px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
  .followBar {
    opacity: 0;
    position: absolute;
    top: 100%;
    height: 4px;
    width: 120px;
    background-color: @oran-const;
    .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
  }
  .buttonContainer {
    position: absolute;
    height: 100%;
    height: inherit;
    margin: 0;
    display: none;
    right: 0;
    a {
      position: relative;
      width: 120px;
      height: inherit;
      float: left;
      color: @light-shade;
      cursor: pointer;
      margin: 0 10px 0 10px;
      h6 {
        width: inherit;
        border-top: 1px solid @light-shade;
        margin: 0;
        padding: 5px;
        .centerY;
        letter-spacing: normal;
        font-weight: 800;
      }
      i {
        font-size: 2em;;
        .centerXY
      }
    }
    a.ext {
      width: 50px;
    }
  }
  .externalSites {
    height: 100%;
    float: left;
    margin-left: 25px;
    &:before {
      position: relative;
      top: 30px;
      left: -215px;
      content: "";
      border-left: 1px solid white;
    }
  }
}

.navtoggle {
  position: fixed;
  z-index: 6;
  font-size: 2.5em;
  left: 50px;
  top: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  .transition.vfast;
  &:hover {

  }
  i {
    position: absolute;
    opacity: 1;
    left: 0px;
    color: @light-shade;
    .transition.vfast;
  }
  i.back {
    left: 50px;
  }
  .disable {
    pointer-events: none;
    opacity: 0;
  }
}