#about {
  width: 100%;
  .row {
    height: 330px;
    .elem {
      height: 100%;
      padding: 10px;
      .head {
        font-size: 1em;
        text-align: center;
      }
      hr {
        margin: 0;
        width: 55%;
        color: @dark2Shade;
      }
    }
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        text-align: center;
        h2 {
          font-weight: bold;
        }
      }
    }
  }
}