#about {
  width: 100%;
  .row {
    &:first-of-type,
    &:last-of-type {
      hr {
        border-bottom: 4px solid @oran-const !important;
      }
    }
    .elem {
      height: 330px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      .transition(0.6s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
      &:first-of-type {
        text-align: right;
        .head {
          width: 100%;
          text-align: right;
        }
      }
      &:last-of-type {
        text-align: left;
        .head {
          width: 100%;
          text-align: left;
        }
      }
      .head {
        position: absolute;
        top: 0;
        font-size: 1em;
        font-weight: 600;
      }
      .center {
        text-align: center;
      }
      .text {
        width: 100%;
      }
      hr {
        width: 15px !important;
        top: 20px !important;
        right: 2px;
        border-bottom: 4px solid @cyan-const;
      }
      .hrleft {
        right: initial;
        left: 2px;
      }
    }
    .main {
      display: flex;
      align-items: initial;
      justify-content: center;
      opacity: 1;
      .text {
        text-align: center;
        h2 {
          font-weight: bold;
        }
        span {
          color: @oran-const;
        }
      }
    }
  }
}

.elemVisible {
  opacity: 1 !important;
  pointer-events: all !important;
}