body#itemdata {
  background-color: white;
  form, aside {
  width: 900px; 
  margin: auto;
  }
  input {
    display: block;
  }
  p {
    margin: 5px 0 0 0;
  }
  p.item {
    display: inline-block;
  }
  .container {
    position: relative;
  }
  button.btn-success {
    position: absolute;
    top: 2px;
    left: 200px;
  }
  .btn-info,
  .btn-danger {
    margin: 2px;
  }
  .btn-danger {
    margin-right: 20px;
  }
}

