#portfolio {
  width: 100%;
  nav {
    position: fixed;
    width: 200px;
    display: inline-block;
    padding: 50px 50px 0px 35px;
    height: 100vh;
    border-right: @borderOutline;
    .transition(0.2s, ease-in-out);
    @media (max-width: 900px) {
      left: -200px;
    }
    &:hover {
      border-right: 1px solid @cyan-const;
    }
    .selection {
      button {
        border-left: 1px solid @dark-shade;
        margin-top: 20px;
      }
      a {
        margin-top: 20px;
        display: block;
        color: @dark2Shade;
        text-align: center;
      }
      .vaExt {
        position: relative;
        top: 100px;
        opacity: 0;
        pointer-events: none;
        .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        .selecItem,
        .selecCol {
          width: 100%;
          text-align: left;
          font-size: 12px;
          border: none;
          text-indent: 25px;
        }
        .row {
          position: relative;
          .itemType {
            position: absolute;
            width: 10px;
            height: 10px;
            top: 25px;
            left: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  #selectedWorks,
  #allWorks {
    position: relative;
    margin-left: 200px;
    z-index: 2;
    @media (max-width: 900px) {
      margin-left: 0;
    }
    .work {
      height: 1000px;
      overflow: hidden;
      position: relative;
      .head {
        height: 600px;
        .shift {
          position: relative;
          left: 0px;
          cursor: pointer;
          .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        }
        .centerXY;
        img {
          left: 50px;
          width: 700px;
          padding: 20px;
          pointer-events: none;
          border-radius: 5px;
        }
        .name {
          padding: 10px;
          left: 650px;
          bottom: 0;
          text-align: center;
          h1 {
            font-size: 3em;
            font-weight: bold;
            white-space: nowrap;
          }
        }
        .buttonContainer {
          width: 100%;
          height: 50px;
          margin-top: 50px;
          .col {
            height: inherit;
          }
          .disabled {
            opacity: 0.4;
            pointer-events: none;
            &:after {
              content: "unavaliable"
            }
          }
          a, 
          .click {
            display: inline-block;
            height: 100%;
            .centerX;
            button {
              position: relative;
              height: 100%;
              width: 100px;
              border: @borderOutline;
              border-radius: 25px;
              color: @dark2Shade;
              .transition(0.1s, ease);
              &:hover {
                border: 1px solid @oran-const;
              }
              i {
                font-size: 2em;
                .centerXY;
              }
            }
          }
        }
      }
      .info,
      .team {
        opacity: 0;
        width: 400px;
        padding: 10px;
        right: 20%;
        pointer-events: none;
        background-color: @light-shade;
        .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        .centerY;
        top: 40%;
        @media (max-width: 900px) {
          .centerXY;
        }
        .title {
          font-weight: 600;
        }
        hr {
          margin: 7px 0 7px 0;
          border-top: @borderOutline;
        }
        .link {
          text-align: right;
        }
        button {
          color: grey;

        }
      }
      .team {
        left: 0;
        top: 0;
        height: 100%;
        transform: none;
        img {
          max-height: 100px;
          .centerX;
        }
        h3,
        .text {
          text-align: center;
        }
        .teamInfo {
          margin-top: 120px;
        }
        .close {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 10px;
          right: 10px;
          opacity: 0.8;
          i {
            font-size: 2em;
            color: @dark-shade;
            .centerXY;
          }
        }
      }
    }
  }
  #allWorks {
    position: absolute;
    width: 90%;
    height: 0;
    top: 0;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    .allWorkContainer {
      .post {
        position: relative;
        float: left;
        margin-top: 10px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
          border: 1px solid @oran-const;
        }
        img {
          height: 300px;
          max-width: 100%;
          max-height: 100%;
        }
        .itemType {
          position: absolute;
          width: 10px;
          height: 10px;
          top: 10px;
          left: 10px;
          border-radius: 5px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 255, 255, 0.60);
        }
      }
    }
    .loading {
      display: none;
      position: fixed;
      top: 0;
      left: 200px;
      width: calc(~'100% - 200px');
      height: 100vh;
      background-color: @std-bg;
      z-index: 3;
      .spinnerContainer {
        #loader.spinnerContainer;
        .centerXY;
      }
    }
  }
  .itemInfoOverlay {
    position: fixed;
    top: -100%;
    width: calc(~'100% - 200px');
    height: 100%;
    margin-left: 200px;
    background-color: @navPrimary;
    z-index: 2;
    padding: 40px;
    overflow: auto;
    @media (max-width: 900px) {
      width: 100%;
      margin-left: 0;
    }
    .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
    .loading {
      #allWorks .loading;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
    .loading.main {
      z-index: 4;
    }
    .title {
      font-weight: bold;
    }
    .date {
      color: @oran-const;
    }
    .infoHead {
      border-bottom: @borderOutline
    }
    .info {
      .title {
        font-weight: initial;
      }
    }
    .child {
      .childTarg {
        color: grey;
        .transition(0.1s, ease);
        &:hover {
          color: @oran-const;
        }
      }
    }
    .buttonContainer {
      a,
      button {
        display: block;
        width: 200px;
        padding: 10px;
        color: @dark-shade;
        font-weight: 500;
        text-align: center;
        border-bottom: @borderOutline;
        margin: auto;
        margin-top: 5vh;
        .transition(0.2s, ease);
        &:hover {
          border-bottom-color: @oran-const; 
        }
      }
      .disabled {
        pointer-events: none;
        text-decoration: line-through;
        cursor: auto;
        opacity: 0.6;
      }
    }
    .gallery {
      margin-top: 20px;
      .imgItem {
        position: relative;
        float: left;
        margin-top: 10px;
        &:hover {
          .altDesc {
            opacity: 1;
          }
        }
        img {
          height: 300px;
          max-width: 100%;
          max-height: 100%;
          opacity: 0;
          .transition(0.2s, ease);
        }
        .altDesc {
          position: absolute;
          top: 0;
          width: 100%;
          background-color: @navPrimary;
          padding: 5px;
          opacity: 0;
          pointer-events: none;
          border-bottom: @borderOutline;
          .transition(0.1s, ease);
        }
        .lightBoxItem {
          cursor: pointer;
        }
      }
    }
  }
  .overlayVisible {
    top: 0 !important;
  }
  .isItem{
    background-color: @oran-const;
  }
  .isCol{
    background-color: @cyan-const;
  }
}

#lightBox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  background-color: @navPrimary;
  align-items: center;
  justify-content: center;
  .transition(0.2s, ease);
  .close {
    position: absolute;
    font-size: 4em;
    opacity: 1;
    &:nth-of-type(1) {
      left: 35px;
    }
    &:nth-of-type(2) {
      right: 35px;
    }
  }
  img {
    max-height: 80%;
    max-width: 80%;
  }
  p {
    position: absolute;
    top: 40px;
  }
}

.showLay {
  opacity: 1 !important;
  pointer-events: all !important;
}

.left {
  left: -40% !important;
  @media (max-width: 900px) {
    left: initial !important;
  }
}