#portfolio {
  width: 100%;
  nav {
    position: fixed;
    display: inline-block;
    padding: 50px 50px 0px 35px;
    height: 100vh;
    border-right: @borderOutline;
    .transition(0.2s, ease-in-out);
    &:hover {
      border-right: 1px solid @cyan-const;
    }
    .selection {
      button {
        border-left: 1px solid @dark-shade;
        margin-top: 20px;
      }
      .vaExt {
        position: relative;
        top: 100px;
        opacity: 0;
        pointer-events: none;
        .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        .selecItem,
        .selecCol {
          width: 100%;
          text-align: left;
          font-size: 12px;
          border: none;
          text-indent: 25px;
        }
        .row {
          position: relative;
          .itemType {
            position: absolute;
            width: 10px;
            height: 10px;
            top: 25px;
            left: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  #selectedWorks,
  #allWorks {
    margin-left: 195px;
    width: 100%;
    position: relative;
    z-index: 2;
    .work {
      height: 600px;
      background-color: #D8DBDE;
      overflow: hidden;
      position: relative;
      border-bottom: @borderOutline;
      img {
        pointer-events: none;
      }
      .info,
      .name {
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        background-color: @navPrimary;
      }
      .info {
        padding: 10px;
        .title {
          font-weight: 600;
        }
        hr {
          margin: 7px 0 7px 0;
          border-top: @borderOutline;
        }
        .link {
          text-align: right;
        }
        button {
          color: grey;

        }
      }
      .team {
        position: absolute;
        height: 100%;
        top: 100%;
        .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        img {
          max-height: 200px;
          .centerX;
        }
        h3,
        .text {
          text-align: center;
        }
        .teamInfo {
          margin-top: 220px;
        }
        .close {
          position: absolute;
          width: 50px;
          height: 50px;
          bottom: 10px;
          left: 10px;
          opacity: 0.8;
          i {
            font-size: 2em;
            color: @dark-shade;
            .centerXY;
          }
        }
      }
      .name {
        width: initial;
        height: initial;
        background-color: rgba(244, 244, 244, 0.3);
        padding: 10px;
        h1 {
          margin: 0;
          font-size: 4em;
          font-weight: bold;
          white-space: nowrap;
        }
        h5 {
          text-align: right;
          color: white;
        }
      }
      &:nth-of-type(n+1) .info {
        left: 200px;
      }
      &:nth-of-type(n+1) .name {
        top: 70%;
        left: 565px;
        color: @oran-const;
      }
      &:nth-of-type(n+2) .info {
        left: 400px;
      }
      &:nth-of-type(n+2) .name {
        top: 20%;
        left: 810px;
        color: @cyan-const;
      }
      &:nth-of-type(n+3) .info {
        left: 950px;
      }
      &:nth-of-type(n+3) .name {
        top: 40%;
        left: 400px;
      }
    }
  }
  #allWorks {
    position: absolute;
    width: 90%;
    height: 0;
    top: 0;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    .allWorkContainer {
      .item {
        position: relative;
        float: left;
        margin-top: 10px;
        cursor: pointer;
        .transition(0.45s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
        img {
          height: 200px;
          max-width: 100%;
          max-height: 100%;
        }
        .itemType {
          position: absolute;
          width: 10px;
          height: 10px;
          top: 10px;
          left: 10px;
          border-radius: 5px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 255, 255, 0.60);
        }
      }
    }
    .itemInfoOverlay {
      position: fixed;
      top: -600px;
      height: 600px;
      width: 90%;
      margin-left: -15px;
      background-color: @navPrimary;
      z-index: 2;
      padding: 40px;
      .transition(0.2s, cubic-bezier(0.98,-0.01, 0.39, 1.01));
      .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @std-bg;
        z-index: 3;
        .anim {
          .centerXY;
          .dot {
            width: 10px;
            height: 10px;
            float: left;
            margin: 5px;
            border-radius: 10px;
            border: 1px solid @dark-shade;
            background-color: transparent;
            animation: shift 1.5s infinite;
            &:nth-child(2) {
              animation-delay: 0.5s;
            }
            &:nth-child(3) {
              animation-delay: 1s;
            }
          }

        }
        @keyframes shift {
          0% {
            background-color: transparent;
          }
          50% {
            background-color: @oran-const;
          }
          100% {
            background-color: transparent;
          }
        }
      }
      .title {
        font-weight: bold;
      }
      .date {
        color: @oran-const;
      }
      .buttonContainer {
        a,
        button {
          display: block;
          width: 200px;
          padding: 10px;
          color: @dark-shade;
          font-weight: 500;
          text-align: center;
          border: 1px solid black;
          margin: auto;
          margin-top: 15%;
        }
        .disabled {
          text-decoration: line-through;
          cursor: auto;
        }
      }
    }
  }
  .overlayVisible {
    top: 0 !important;
  }
  .isItem{
    background-color: @oran-const;
  }
  .isCol{
    background-color: @cyan-const;
  }
}