extends layout

block content
  header#gallery
    div.text-container
      p.visible-md.visible-lg Gallery
  section#display
    .container-fluid
      .col-lg-4.col-md-6
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/169789/pexels-photo-169789.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
      .col-lg-4.col-md-6
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/169789/pexels-photo-169789.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
      .col-lg-4.col-md-6
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/169789/pexels-photo-169789.jpeg")
        article.row
          img.img-responsive(src="https://static.pexels.com/photos/226721/pexels-photo-226721.jpeg")
