extends layout

block content
  header#gallery
    div.text-container
      p Gallery
  section#project
    .row
      .container-fluid
          .col-lg-5.col-lg-offset-1
            aside
              img.img-responsive(src="http://www.bhmpics.com/walls/city_building_and_sun-wide.jpg")
          .col-lg-5
            article
              .row
                .col-lg-12
                  h1 PROJECT TEMPLATE
              .row
                .col-lg-6
                  .container-fluid
                    .row
                      p#date: i 1/2/3456
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .row
                      a(href="") http://link.net.au
                    .row
                      a(href="")
                        div
                          .button
                            h4 View
                .col-lg-6
                  .container-fluid
                    .row
                      .row
                        .col-lg-6.col-md-6
                          p: strong Status: Completed
                        .col-lg-6.col-md-6.indicator
                          div.blue
                      .row
                        .col-lg-6.col-md-6
                          p: strong Type: Academic 
                        .col-lg-6.col-md-6.indicator
                          div.blue
                      .row
                        .col-lg-6.col-md-6
                          p: strong Parent: None
                        .col-lg-6.col-md-6.indicator
                          div.red
                    .row
                      hr
                      p Technologies:
                      ul#tech-list
                        p Main
                        li: p Adobe Photoshop
                        p Support
                        li: p Adobe Illustrator
                        li: p Autodesk Inventor
                    .row
                      hr
                      p Team:
                      ul#team
                        p Lvl 1
                        li: p None
                  
