extends layout

block content
  header#index
    div.image-container
      img(src="https://images4.alphacoders.com/232/232854.jpg")
    div.text-container
      h1= title
      p Welcome to #{title}
  main#index
    include custom.index.jade
  footer
