extends layout

block content
  header#index
    div.main.image-container
      img(src="https://images4.alphacoders.com/232/232854.jpg")
    div.main.text-container
      h1= title
      p Welcome to #{title}
  main
    section#Section1
    section#Section2
    section#Section3
    section#Section4
