extends layout

block content
  #index.container-fluid
    header.row
      #pbg
      .elem-container
        .text-main
          h1 
            | A
            span.orange X
            | ISESIO
        .corners
          a.corner.cornertl.about(href="/#about")
            .text-container.hidden-xs
              h6 ABOUT
          a.corner.cornertr(href="/portfolio")
            .text-container.hidden-xs
              h6 PORTFOLIO
          a.corner.cornerbl(href="/designblogs")
            .text-container.hidden-xs
              h6 DESIGN BLOGS
          a.corner.cornerbr(href="/shop")
            .text-container.hidden-xs
              h6 SHOP
  #about
    .container-fluid
      .row
        .col-lg-4.elem
          h5.head test
        .col-lg-4.elem
        .col-lg-4.elem
          h5.head test
      .row
        .col-lg-4.elem
          h5.head Design
        .col-lg-4.elem.center
          .text
        .col-lg-4.elem
          h5.head Program
      .row
        .col-lg-4.elem
          h5.head test
        .col-lg-4.elem
        .col-lg-4.elem
          h5.head Contact Me
  script(type="text/javascript" src="/javascripts/index.min.js")