extends layout

block content
  #index.container-fluid
    header.row
      #pbg
      .elem-container
        .text-main
          h1 
            | A
            span.orange X
            | ISESIO
        .corners
          a.corner.cornertl.about(href="#about")
            .text-container.hidden-xs
              h6 ABOUT
          a.corner.cornertr(href="/portfolio")
            .text-container.hidden-xs
              h6 PORTFOLIO
          a.corner.cornerbl(href="/designblogs")
            .text-container.hidden-xs
              h6 DESIGN BLOGS
          a.corner.cornerbr(href="/shop")
            .text-container.hidden-xs
              h6 SHOP
  #about
    .elem-container
      h3 ABSTRACT ABOUT PAGE
  script(type="text/javascript" src="/javascripts/index.js")