extends layout

block content
  #index.container-fluid
    header.row
      #pbg
      .elem-container
        .text-main
          h1 
            | A
            span.orange X
            | ISESIO
        .corners
          a.corner.cornertl.about(href="/#about")
            .text-container.hidden-xs
              h6 ABOUT
          a.corner.cornertr(href="/portfolio")
            .text-container.hidden-xs
              h6 PORTFOLIO
          a.corner.cornerbl(href="/designblogs")
            .text-container.hidden-xs
              h6 DESIGN BLOGS
          a.corner.cornerbr(href="/shop")
            .text-container.hidden-xs
              h6 SHOP
  #about
    .container-fluid
      .row
        .col-lg-4.elem
          h5.head Design
          hr.head
          .text
            p Graphics Design
            p Web Design
            p Industrial Design
            p Built Environment
        .col-lg-4.elem
          h5.head Me - Xinyi Li
          .text
            p.center Student, Digital Graphics Designer, Programmer wannabe.
            p.center Hi, I'm currently an first year undergraduate student studying Mathematics and Information Technology at the University of Queensland. 
        .col-lg-4.elem
          h5.head pls no buli
          hr.hrleft.head
          .text
            p ----->
      .row
        .col-lg-4.elem
          h5.head Code
          hr.head
          .text
            p Markup - HTML/JADE
            p CSS - LESS/SASS
            p JavaScript - CoffeeScript/TypeScript
            p Python 3.6
        .col-lg-4.elem.main
          .text
            h2 ABOUT
            h6 
              | XINYI '
              span TONY
              | ' LI
            h6 /
            h6 AXISESIO
        .col-lg-4.elem
          h5.head pls no buli
          hr.hrleft.head
          .text
            p ----->
      .row
        .col-lg-4.elem
          h5.head Libraries/Frameworks
          hr.head
          .text
            p Bootstrap 3
            p NodeJS
            p ExpressJS
            p MongoDB
        .col-lg-4.elem
          h5.head This Site - AXISESIO
          .text
            p.center Placeholder for DECO1800 submission.
            p.center Placeholder for Production.
        .col-lg-4.elem
          h5.head pls no buli
          hr.hrleft.head
          .text
            p ----->
  script(type="text/javascript" src="/javascripts/index.min.js")