extends layout

block content
  #index.container-fluid
    header.row
      .elem-container
        .text-main
          h1 AXISESIO
        .corners
          a.corner.cornertl(href="/about")
            .text-container.hidden-xs
              h6 ABOUT
          a.corner.cornertr(href="/portfolio")
            .text-container.hidden-xs
              h6 PORTFOLIO
          a.corner.cornerbl(href="/designblog")
            .text-container.hidden-xs
              h6 DESIGN BLOG
          a.corner.cornerbr(href="/shop")
            .text-container.hidden-xs
              h6 SHOP

  // include custom.index.jade
    main.row