extends layout

block content
  section#index.container-fluid
    header.row
      #pbg
      .elem-container
        .text-main
          h1 
            | A
            span.orange X
            | ISESIO
        .corners
          a.corner.cornertl.anchor(href="#contact")
            .text-container.hidden-xs
              h6 CONTACT
          a.corner.cornertr(href="/portfolio")
            .text-container.hidden-xs
              h6 PORTFOLIO
          a.corner.cornerbl(href="/designblogs")
            .text-container.hidden-xs
              h6 DESIGN BLOGS
          a.corner.cornerbr(href="/shop")
            .text-container.hidden-xs
              h6 SHOP
  section#about
    main.container-fluid
      .row.oran
        .col-lg-4.col-xs-4.elem.head
          h1 ABOUT
          h1 ME.
        .col-lg-4.col-xs-4.elem
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-lg-4.col-xs-4.elem
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .row.center
        .col-lg-4.col-xs-4.elem
          .imgContainer.col
            .slideSeq
              .seq.active
              .seq
              .seq
            img.active(src="https://i.imgur.com/7cDlQVG.png")
            img(src="https://i.imgur.com/uuOvkl6.jpg")
            img(src="https://i.imgur.com/zSv7T7k.jpg")
            .bar
        .col-lg-4.col-xs-4.elem.head
          h1 Latest 
          h1 Works.
        .col-lg-4.col-xs-4.elem
          .imgContainer.side
            .slideSeq
              .seq.active
              .seq
              .seq
            img.active(src="https://i.imgur.com/7cDlQVG.png")
            img(src="https://i.imgur.com/uuOvkl6.jpg")
            img(src="https://i.imgur.com/zSv7T7k.jpg")
            .bar
      .row.cyan
        .col-lg-4.col-xs-4.elem.inactive
        .col-lg-4.col-xs-4.elem
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-lg-4.col-xs-4.elem.head
          h1 ABOUT
          h1 THIS
          h1 SITE.












  section#contact
    .container-fluid
      h1 Get in touch
      p 
        i.ion-ios-email
        | info@ahxdesign.me
      p 
        i.ion-ios-email
        | leletonyli.13944@yahoo.com.au
      form(action="")
        p Name
        input(type="text" Placeholder="Fatton" name="name") 
        p Email
        input(type="text" Placeholder="email@email" name="email") 
        p Message
        textarea(rows=5 Placeholder="Message" name="message")
        input.submit(type="submit")

  script(type="text/javascript" src="/javascripts/index.min.js")