doctype html
html
  head
    meta(charset='utf-8')
    meta(name="author" content="FATTON")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Portfolio-2')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href="https://fonts.googleapis.com/css?family=Muli:200,300,400,800|Open+Sans:300,300i,400,400i,800" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='/bower_components/reset-css/reset.css')
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel="icon" href="/images/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="manifest" href="/images//manifest.json")
    meta(name="theme-color" content="#ffffff")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/javascripts/script.js")
  body
    div.nav-menu
      span.glyphicon.glyphicon-list
      div.text
        p Menu
    nav
      div.nav-main
        ul
          a.anchor(href="") 
            li Anchor
          a.anchor(href="") 
            li Anchor
          a.anchor(href="") 
            li Anchor
          a.anchor(href="") 
            li Anchor
          a.page(href="") 
            li Link
      div.nav-secondary
        div.nav-close
          span.glyphicon.glyphicon-menu-left
        ul
          li: span.glyphicon.glyphicon-user
          li: span.glyphicon.glyphicon-th-list
          li: span.glyphicon.glyphicon-signal
          li: span.glyphicon.glyphicon-map-marker
          li: span.glyphicon.glyphicon-folder-close
    block content
