@cyan-const: #00bdce;
@oran-const: #fb783d;
@light-shade:#edeff1;
@dark-shade: #1f1f1f;
@outlineStd: rgba(66, 66, 66, 0.20);

@std-bg: #edeff1;
@stdText: #edeff1;

@navPrimary: rgba(245, 245, 245, 0.95);
@navText: @dark-shade;

@nav-secondary: rgba(0, 0, 0, 0.4);

@navToggle: @dark-shade;

@nav-width: 250px;

@border-std: 2px solid @dark-shade;
@borderOutline: 1px solid rgba(66, 66, 66, 0.20);